html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#container {
    height: 100%;
    width: 100%;
}

#key-container {
    display: grid;
    justify-items: center;
}

#key {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    row-gap: 1rem;
    column-gap: 0.5rem;
}

#key div {
    text-align: center;
    display: grid;
    row-gap: 0.5rem;
}

#key div h6 {
    margin: 0;
    border-bottom: 2px solid black;
}

img {
    object-fit: contain;
    width: 100%;
}

footer {
    text-align: center;
    
}

@media screen and (min-width: 600px) {

}